@{
    ViewData["Title"] = "Privacy Policy";
    // Layout = "_CustomLayout"; // custom layout uniquement sur privacy
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
