@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">+10</button>
<button class="btn btn-primary" @onclick="() => currentCount++">+1</button>
<button class="btn btn-primary" @onclick="DecrementCount">-10</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=10;
    }

    private void DecrementCount()
    {
        currentCount -= 10;
    }
}
