@page "/formulaire"

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Formulaire </h1>
        <br />
        <form id="myForm" method="post" onsubmit="validateForm()">
            <fieldset>
                <div class="form-group row">
                    <label for="nom" class="col-sm-2 col-form-label">Nom :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email :</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adresse" class="col-sm-2 col-form-label">Adresse :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Entrez votre adresse">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="codePostal" class="col-sm-2 col-form-label">Code Postal :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="codePostal" name="codePostal" placeholder="Entrez votre code postal">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label">Age :</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="age" name="age" placeholder="Entrez votre âge">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="naissance" class="col-sm-2 col-form-label">Date de naissance :</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="naissance" name="naissance">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Marié ?</div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="marie" name="Marie">
                            <label class="form-check-label" for="marie">Oui</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="couleurFavorite" class="col-sm-2 col-form-label">Couleur favorite :</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="couleurFavorite" name="CouleurFavorite">
                            <option value="rouge">Rouge</option>
                            <option value="bleu">Bleu</option>
                            <option value="vert">Vert</option>
                            <option value="jaune">Jaune</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>
