@page "/callback-parent"

<h3>Parent</h3>

<Child OnClickCallBack="ShowMessage" />

<p>@message</p>

@code {
    private string? message;

    private void ShowMessage(MouseEventArgs e)
    {
        message = $" Coordonnées de la souris depuis le child : {e.ScreenX} {e.ScreenY}";
    }
}